
.nav-item{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.anticon-mail {
    font-size:24px;
    color: #fff;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 9px;
  }